<div id="<%= dom_id document %>">
  <p>
    <strong>Title:</strong>
    <%= document.title %>
  </p>

  <p>
    <strong>Source url:</strong>
    <%= document.source_url %>
  </p>

  <p>
    <strong>Sha256:</strong>
    <%= document.sha256 %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= document.content %>
  </p>

  <p>
    <strong>Confidence score:</strong>
    <%= document.confidence_score %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= document.status %>
  </p>

</div>
